<div class="mb-3 p-3 border bg-white">
  <%= link_to blog.title, blog_path(blog)%>
  • Created at <%= blog.updated_at.strftime("%I:%M %p on %m/%d/%Y") %>
  • <%= link_to blog.comments.count, blog_path(blog) %> Comments
</div>
